@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust : none;  /* IE */
  -moz-text-size-adjust : none;  /* 파이어폭스 */
  -o-text-size-adjust : none;  /* 오페라 구버전 */
}

option {
  color: black;
}


/* react-quill */
.ql-align-center {
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ql-align-left {
  text-align: left !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ql-align-right {
  text-align: right !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ql-align-justify {
  text-align: justify !important;
  display: flex;
  align-items: center;
  justify-content: center;
}